
body
{
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Header
{
    background-color: #146142;
    display: flex;
    align-items: center;
}


.h_links
{
    flex: 1  auto;
    color: white;
    text-decoration: none;
    font-size: large;
}

#icon
{
    flex: 30 auto;
    color: white;
    margin: 8px;
}

.Hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #146142;
    height: 450px;
    gap: 24px;
}

.Hero .H_main
{
    display: flex;
    flex-direction: column;
}

.Hero .H_main h2
{
    flex: auto;
    color: #fff5d0;
    font-size: 48px;
    max-width: 400px;
    margin: 0;
    font-weight: 900;
}

.Hero .H_main p
{
    color: #e3e3cf;
    font-size: 18px;
    max-width: 400px;
}

#placeholder{
    height: 287px;
    width: 510px;
}

button
{
    font-size: 16px;
    background-color: #FFE02E;
    color: black;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    align-self: self-start;
}

.information
{
    background-color: #fff5d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_title
{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info_content
{
    font-size: 12px;
    font-weight: 10;
    display: flex;
    color: #4c5868;
    max-width: 400px;
    justify-content: center;
    gap: 24px;
}

#info_image
{
    height: 200px;
    width: 200px;
}

.quote
{
    display: flex;
    flex-direction: column;
}